.board
  %p#notice= notice

  %center.white_box
    %h3= "Project Gallery: #{@project.name}"
  %center
    = image_tag(@project.image.url(:slider), :class => "imgshadow")
  %p
  .white_box
    %b Description:
    = @project.description.html_safe
    %p
    %b Type:
    = @project.category

  - if @project.galleries.present?
    - @object = @project
    = render 'shared/gallery', :content => @object

  %p
    = link_to 'Back', :back

