= form_for ([:admin, @tutorial])do |f|
  - if @tutorial.errors.any?
    #error_explanation
      %h2
        = pluralize(@tutorial.errors.count, "error")
        prohibited this tutorial from being saved:
      %ul
        - @tutorial.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend
      Tutorial
    .clearfix
      = f.label :name
      .input= f.text_field :name
    .clearfix
      = f.label :description
      .input= f.cktext_area :description
    .clearfix
      = f.label :category
      .input= f.text_field :category
    .clearfix
      = f.label :remove_image
      .input= f.check_box :remove_image
    - if @tutorial.image
      .clearfix
        .centered_image= image_tag(@tutorial.image.url(:slider), :class => "imgshadow")
    .clearfix
      = f.label :image
      .input= f.file_field :image

  .actions
    = f.submit :submit, :class => 'btn primary'
    = link_to 'Back', tutorials_path, :class => 'btn'
