.board
  %h2= @tutorial.name

  .clear_steps
    = @tutorial.description.html_safe

  - if !@tutorial.steps.empty?
    - @tutorial.steps.each do |step|
      .step_box
        %b= step.step_number
        = link_to image_tag(step.image.url(:thumb)), step_path(step)
        = step.name.html_safe

  .clear_steps
    = "Category: #{@tutorial.category}"

  %p
  - if current_user && current_user.has_role?("admin")
    = link_to 'Edit', edit_project_path(@project)
    \|
  = link_to 'Back', projects_path
