= form_for ([:admin, @article]) do |f|
  - if @article.errors.any?
    #error_explanation
      %h2
        = pluralize(@article.errors.count, "error")
        prohibited this tutorial from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend
      Article
    .clearfix
      = f.label :name
      .input= f.text_field :name
    .clearfix
      = f.label :description
      .input= f.cktext_area :description
    .clearfix
      = f.label :featured
      .input= f.check_box :featured
    .clearfix
      = f.label :remove_image
      .input= f.check_box :remove_image
    - if @article.image
      .clearfix
        .centered_image= image_tag(@article.image.url(:slider), :class => "imgshadow")
    .clearfix
      = f.label :image
      .input= f.file_field :image

  .actions
    = f.submit :submit, :class => 'btn primary'
    = link_to 'Back', tutorials_path, :class => 'btn'

